* {
    box-sizing: border-box;
    color: var(--dark);
    font-family: 'Ubuntu Mono', monospace;
}

body.prevent-animation * {
    transition-duration: 0ms !important;
}

h1 {
    font-size: 3.5em;
    margin-top: .3em;
    margin-bottom: .5em;
}

.link-button {
    font-size: 1.25em;
    display: block;
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-decoration: none;
    margin-bottom: 12px;
    position: relative;
}

.link-button > span {
    z-index: 1;
    position: relative;
}

.link-button::before {
    content: '';
    height: 100%;
    width: 0;
    background-color: var(--yellow);
    display: block;
    position: absolute;
    z-index: 0;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.link-button:hover::before  {
    width: 100%;
}

p {
    font-size: 1.5em;
    margin-right: 4em;
}

:root {
    --dark: #212428;
    --light: #e2f4fd;
    --yellow: #fcb84f;
    --red: #EC1D3C;
}

.wrapper {
    position: relative;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.background {
    background-color: var(--red);
    padding: 20px 20px;
    border-radius: 0 0 45px 45px;
    height: 100%;
    min-height: 800px;
}

.background.chipped {
    position: absolute;
    background-color: var(--light);
    border-bottom-right-radius: 500px;
    width: 100%;
    top: 0;
}

body {
    margin: 0;
    background-color: var(--dark);
    min-width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-row: auto;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.grid .module {
    transition-property: border-color, border-radius;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border: 12px solid var(--dark);
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.grid .module[data-highlight=true] {
    border-color: var(--yellow);
}

.grid .module[data-shape='circle'] {
    border-radius: 100%;
}

.grid .module[data-shape='pie-top-left'] {
    border-radius: 100% 0 0 0;
}

.webkit .grid .module[data-shape='pie-top-left'] {
    border-radius: 65px 0 0 0;
}

.grid .module[data-shape='pie-bottom-left'] {
    border-radius: 0 0 100% 0;
}

.webkit .grid .module[data-shape='pie-bottom-left'] {
    border-radius: 0 0 65px 0;
}

.grid .module[data-shape='pie-top-right'] {
    border-radius: 0 100% 0 0;
}

.webkit .grid .module[data-shape='pie-top-right'] {
    border-radius: 0 65px 0 0;
}

.grid .module[data-shape='pie-bottom-right'] {
    border-radius: 0 0 0 100%;
}

.webkit .grid .module[data-shape='pie-bottom-right'] {
    border-radius: 0 0 0 65px;
}

.grid .module[data-shape='square'] {
    border-radius: 0;
}

.grid .fill {
    transition-property: width, background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 0;
    position: absolute;
    background-color: var(--dark);
    top: 0;
    left: 0;
}

.grid .module[data-fill=true] .fill {
    width: 100%;
}

.grid .module[data-highlight=true] .fill {
    background-color: var(--yellow);
}

.circles {
    position: absolute;
    bottom: -87px;
    left: -87px;
}

.circles * {
    border-color: var(--red) !important;
}

.circles .module .fill {
    background-color: var(--red);
}

.circle {
    border-radius: 9999px;
    position: absolute;
}

.circle.small {
    height: 26px;
    width: 26px;
    bottom: 0;
    left: -13px;
}

.circle.medium {
    width: 52px;
    height: 52px;
    bottom: 40px;
    left: -26px;
}

.circle.large {
    height: 104px;
    width: 104px;
    left: -52px;
    bottom: 109px;
}

.modules {
    position: absolute;
    right: -87px;
    top: 150px;
}

.content {
    position: absolute;
    top: 0;
    padding: 30px;
}

.inner {
    position: relative;
    margin: 150px 0;
    height: 100%;
    max-height: 1050px;
}

main {
    overflow-x: hidden;
    height: 100vh;
}

@media only screen and (max-width: 500px) {
    .background {
        height: 100vh;
    }

    .wrapper {
        max-width: 500px;
    }

    .inner {
        margin: 0;
        overflow: hidden;
        max-height: unset;
    }

    .wrapper {
        justify-content: start;
    }
}

@media only screen and (max-height: 1050px) {
    .wrapper {
        justify-content: start;
    }

    .inner {
        margin: 0;
    }
}
